@{
    ViewBag.Title = "Contact";
}
<h2>     </h2>
<div class="row">
    <div class="col-md-12">
        <img src="~/img/WebDevContactMaham.jpg" alt="Maham" />
        <img src="~/img/WebDevContactHasan.jpg" alt="Hasan" />
    </div>
</div>
<address class="center-block">
    <div class="col-lg-12">
        Habib University<br />
    </div>
    <div class="col-lg-12">
        Gulistan e Johar, Block 16<br />
    </div>
    <div class="col-lg-12 ">
        0333-3333333
    </div>
    
    <div class="col-lg-12">
        <strong>Hasan:</strong>   <a href="mailto:sh03476@st.habib.edu.pk">sh03476@st.habib.edu.pk</a><br />
    </div>
    <div class="col-lg-12">
        <strong>Maham:</strong> <a href="mailto:mz04027@st.habib.edu.pk">mz04027@st.habib.edu.pk</a>
    </div>
</address>
<hr /><hr /><hr />