
@{
    ViewBag.Title = "Guide";
}

<h2 style="align-content:stretch; padding-left: 140px; padding-top:10px; padding-bottom20px;">"Dyslexia is the affliction of a frozen genius." ~Stephen Richards</h2> <br />

<table style="padding-bottom:100px;">
    <tr>
        <th>
            <iframe width="1200" height="550" src="https://www.youtube.com/embed/MHN76qTkqhw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" align="middle" allowfullscreen></iframe>
        </th>
    </tr>
</table>
<table style="padding-top:100px;">
    <tr>
        <h4 style=" padding-top: 50px;"> What is Dyslexia? </h4>
        <p style="padding-top:15px;">
            Dyslexia is a learning disorder that affects your ability to read, spell, write, and speak. Kids who have it are often smart and hardworking, but they have trouble connecting the letters they see to the sounds those letters make.

            About 5% to 10% of Americans have some symptoms of dyslexia, such as slow reading, trouble spelling, or mixing up words. Adults can have this learning disorder, as well. Some people are diagnosed early in life. Others don't realize they have dyslexia until they get older.

            Kids with dyslexia often have normal vision and are just as smart as their peers. But they struggle more in school because it takes them longer to read. Trouble processing words can also make it hard to spell, write, and speak clearly.
        </p>
        <h4 style="padding-top:50px;">What causes Dyslexia?</h4>
        <p style="padding-top:15px;">
            It’s linked to genes, which is why the condition often runs in families. You're more likely to have dyslexia if your parents, siblings, or other family members have it.
            The condition stems from differences in parts of the brain that process language. Imaging scans in people with dyslexia show that areas of the brain that should be active when a person reads don't work properly.

            When children learn to read, they first figure out what sound each letter makes. For example, "B" makes a "buh" sound. "M" makes an "em" sound. Then, they learn how to put those sounds in order to form words ("C-A-T" spells "cat”). Finally, they have to figure out what words mean ("Cat" is a furry animal that meows).
            For kids who have dyslexia, the brain has a hard time connecting letters to the sounds they make, and then blending those sounds into words. So to someone with dyslexia, the word "cat" might read as "tac." Because of these mix-ups, reading can be a slow and difficult process.

            Dyslexia is different for everyone. Some people have a mild form that they eventually learn how to manage. Others have a little more trouble overcoming it. Even if children aren't able to fully outgrow dyslexia, they can still go to college and succeed in life.
            <br />
            Source: WebMD Medical Reference Reviewed by Dan Brennan, MD on March 23, 2019 <br />
        </p>
    </tr>
    <tr style="padding-left:100px">

        <h4 style="padding-top:50px;">Who can help?</h4>
        <td style="padding-left:50px;">
            <h3><a href="https://cdp-hf.org/">Hussaini Foundation</a></h3>
        </td>
        <td>
            <h3 style="padding-left:50px;"><a href="http://readkarachi.com/">READ</a></h3>
        </td>
        <td>
            <h3 style="padding-left:50px;"><a href="http://www.kazimadhdtrust.org/">Kazim Trust</a></h3>
        </td>
        <td>
            <h3 style="padding-left:50px;"><a href="https://www.dyslexiacare.com/">Care</a></h3>
        </td>
    </tr>

    <tr style="padding-left:50px;">

        <td style="padding-top:50px; padding-left:50px;" width="250px">
            <img src="~/img/caretaker1.jpg" height="160" width="160" style="float:left; border-radius:150px;">
        </td>
        <td style="padding-top:50px; padding-left:50px;" width="250px">
            <img src="~/img/caretaker2.jpg" height="160" width="160" style="float:left; border-radius:150px;">
        </td>
        <td style="padding-top:50px; padding-left:50px;" width="250px">
            <img src="~/img/caretaker3.jpg" height="160" width="160" style="float:left; border-radius:150px;">
        </td>
        <td style="padding-top:50px; padding-left:70px;" width="250px">
            <img src="~/img/caretaker4.jpg" height="160" width="160" style="float:left; border-radius:150px;">

        </td>
    </tr>
    
    <tr>
        <td style="padding-top:30px; padding-left:50px;" width="250px">
            <a href="https://shop.dyslexia.com/">Groundbreaking books explaining theories</a>
        </td>
        <td style="padding-top:30px; padding-left:50px;" width="250px">
            <a href="https://www.dyslexia.com/research/">A look at the science behind dyslexia</a>
        </td>
        <td style="padding-top:30px; padding-left:50px;" width="250px">
            <a href="https://www.dyslexiagames.com/">Creative kids love the arts and games. Parents and teachers love the result</a>
        </td>
        <td style="padding-top:30px; padding-left:50px;" width="250px">
            <a href="https://www.open.edu/openlearn/education/delivering-tutorials-dyslexic-students">Effective tutorials for dyslexics</a>

        </td>
    </tr>
    <tr style="padding-top:30px;"></tr>
</table>
