@{

}
<br />
<div col-md-12 class="row" style="background-color:black; max-width: 100%;overflow-x: hidden;" >

    <div col-md-12 class="row" style="color:white;text-align:center; background-image:url('/img/bg1.jpg')">

        <h1 style="text-decoration:solid">DYSLEXIC COMBAT SYSTEM</h1>
        <p class="lead" style="margin: auto">
            Many educators still view dyslexia only as a weakness or disability.
        </p>
        <p style="font: 15px">As a result they have not developed diagnostic tests that look for the talents and strengths that are typically also part of dyslexia. <br /> For that reason most educational testing for dyslexia is not really complete and may not be accurate.</p> 
        


    </div>
    <div col-md-12 class="row" style="color:black;padding-top:10px;text-align:center; background-image:url('/img/bg1.jpg')">
        <p><a href="~/Views/Account/Register.cshtml" class="btn btn-primary btn-lg">Signup &raquo;</a></p>
    </div>

    <h1></h1>
    <div class="container row" style="align-content:center; padding-top:5%;padding-bottom:5%">
        <div col-md-12>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/img/1.jpg" style="width:50%;margin:auto">
                    </div>

                    <div class="item">
                        <img src="~/img/2.jpg" style="width:50%;margin:auto">
                    </div>

                    <div class="item">
                        <img src="~/img/5.jpg" style="width:50%;margin:auto">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <h1></h1>

    <div class="row">
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2>
                <img src="~/img/index1.jpg" height="160" width="160" border-radius:150px;">
            </h2>


        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2><img src="~/img/index2.jpg" height="160" width="160" border-radius:150px;"></h2>

        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2><img src="~/img/index3.jpg" height="160" width="160" border-radius:150px;"></h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2>

                Education vs. Child Development: How Dyslexia Happens
            </h2>


        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2>A Dyslexic Child in the Classroom: What can be done?</h2>

        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <h2>Adult Dyslexia and ADHD: The effects of dyslexia in the Workplace</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <p>
                Having been functionally illiterate for the first 38 years of my life, and having overcome the problem sufficiently to write a book and read it onto tape, here is what I've found out: dyslexia is not the result of brain damage or nerve damage.
            </p>
           
            <p><a class="btn btn-primary" href="https://www.dyslexia.com/about-dyslexia/understanding-dyslexia/education-vs-child-development/" style="background-color:blue">Details &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <p>A Guide for Teachers and Parents Proficient reading is an essential tool for learning a large part of the subject matter taught at school. With an ever increasing emphasis on education and literacy, more and more children and adults are needing...</p>
            <p><a class="btn btn-primary" href="https://www.dyslexia.com/about-dyslexia/understanding-dyslexia/guide-for-classroom-teachers/" style="background-color:blue">Details &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color:rgba(0,0,200,0.1);">
            <p>Dyslexic employees are some of the smartest, most imaginative and highly motivated people in your workgroup -- and your company's management. Employers can easily adapt the workplace to help dyslexic people work more efficiently.</p>
            <p><a class="btn btn-primary" href="https://www.dyslexia.com/about-dyslexia/understanding-dyslexia/adult-dyslexia-in-the-workplace/" style="background-color:blue">Details &raquo;</a></p>
        </div>
    </div>
</div>